<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
	<!-- Titulo de la Página -->
	<link rel="icon" type="image/jpg" href="/images/favicon.png" />
	<title th:if="${titlepage != null}" th:text="'Ⓡ CONTACTEMP'+ ' : ' +${titlepage}"></title>
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-light bg-warning border-4 border-bottom border-primary">
			<div class="container">
				<a th:href="@{/login}" class="navbar-brand fs-3 "
					style="color: rgb(0, 0, 255);"><b><sup>Ⓡ</sup>CONTACTEMP</b></a>
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menunav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menunav" class="collapse navbar-collapse" sec:authorize="isAuthenticated()">
					<ul class="navbar-nav ms-3">
						<li class="nav-item">
							<a class="nav-link " th:href="@{/}" />Inicio</a>

						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Usuario
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/peoples/listPeople}">Lista de Clientes</a></li>
								<li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')"
										th:href="@{/user/userReg}">Crear usuario</a></li>
								<li><a class="dropdown-item" sec:authorize="hasRole('ROLE_ADMIN')"
										th:href="@{/peoples/formPeople}">Nuevo</a></li>
							</ul>

						</li>
						<li class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Rol
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/rol/listRol}">Roles</a></li>
								<li><a class="dropdown-item" th:href="@{/rol/formRol}">Nuevo</a></li>
							</ul>

						</li>
					</ul>
				</div>
				<form class="d-flex" sec:authorize="isAuthenticated()" id="logoutForm" th:action="@{/logout}"
					method="post">
					<li class="nav-item dropdown d-flex">
						<a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">

							<span sec:authorize="isAuthenticated()" style="color:rgb(128, 128, 128)"
								sec:authentication="name"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><button class="dropdown-item" onclick="document.getElementById('logoutForm').submit;"
									type="submit">Cerrar Sesión</button></li>
							<input type="hidden" th:name="${_csrf.parameterName}" th:value"${_csrf.token}" />
						</ul>
				</form>
			</div>
		</nav>
		<br>
		<div class="container">
			<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
			<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
			<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
			<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		</div>
	</header>

	<footer th:fragment="footer" class="container-fluid">
		<hr />
		<div class="container">
			<p align="center">
				<img th:src="@{/images/iconlogo.png}" width="20" height="20" alt="Logo el informatico" />
				Derechos reservados copyright © CONTACTEMP
			</p>
		</div>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.4.1.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/funciones.js}"></script>
		<script th:src="@{/js/sweetalert.min.js}"></script>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</footer>
</body>

</html>