<!DOCTYPE html>
<html lang="en" data-theme="light" style="color-scheme: light;" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<div class="row">
				<h1 class="text-info" th:text="${titlepage}"></h1>

				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/peoples/listPeople}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Lista de Personas</li>
					</ol>
				</nav>
				<table class="table table-bordered table-hover table-striped  ">
					<thead class="table-dark text-center">
						<tr>
							<th class="col-2">Nombre Completo</th>
							<th class="col-sm-2">Doc. Identidad</th>
							<th class="col-sm-1">Edad</th>
							<th class="col-sm-1">Nacimiento</th>
							<th class="col-sm-2">Correo Electronico</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"><ion-icon
									name="ellipsis-vertical-outline"></ion-icon></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${employee}">
							<td th:text="${item.fullName}"></td>
							<td class="text-center" th:text="${item.identityPeople}"></td>
							<td class="text-center" th:text="${item.agePeople}"></td>
							<td th:text="${item.happyDay}"></td>
							<td th:text="${item.emailPeople}"></td>
							<td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
								<!-- th:href="@{/peoples/deleteByIdPerson/} + ${item.id}"-->
								<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/peoples/verdata/} + ${item.id}" 
									class="btn btn-outline-info col-xs-4">
									<ion-icon name="eye-outline"></ion-icon></a>

								<a sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="QuestionEditPeople([[${item.id}]])"
									class="btn btn-outline-primary col-xs-4">
									<ion-icon name="create-outline"></ion-icon></a>

								<a sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="QuestionDeleteByIdPerson([[${item.id}]])"
									
									class="btn btn-outline-danger col-xs-4">
									<ion-icon name="trash-outline"></ion-icon></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>