<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<br>
		<div class="container">
			<div class="row">
				<h1 class="text-info" th:text="${titlepage}"></h1>

				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/rol/listRol}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Lista de Roles</li>
					</ol>
				</nav>
				
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>
</html>