<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<div class="row">
				<h1 class="text-info" th:text="${titlepage}"></h1>

				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/peoples/listPeople}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Lista de Personas</li>
					</ol>
				</nav>
				<!--
				<p><a th:href="@{/Peoples/formPeople}" class="btn btn-success">
						<ion-icon name="create-sharp"></ion-icon>
						Agregar</a>
				</p>-->
				<table class="table table-bordered table-hover table-striped  text-center">
					<thead class="table-dark">
						<tr>
							<th>Name</th>
							<th>Surname 1</th>
							<th>Surname 2</th>
							<th>Age</th>
							<th>Identity Document</th>
							<th>Email</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')"><ion-icon name="ellipsis-vertical-outline"></ion-icon></th>
						</tr>
					</thead>
					<tbody >
						<tr th:each="people: ${people}">
							<td th:text="${people.identityPeople}"></td>
							<td th:text="${people.namePeople}"></td>
							<td th:text="${people.firstLastNamePeople}"></td>
							<td th:text="${people.secondLastNamePeople}"></td>
							<td th:text="${people.agePeople}"></td>
							<td th:text="${people.emailPeople}"></td>
							<td class="text-center" sec:authorize="hasRole('ROLE_ADMIN')">
								<a sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="QuestionEditPeople([[${people.idPeople}]])"
									class="btn btn-outline-primary col-sm-4">
									<ion-icon name="create-outline"></ion-icon></a>
								<a sec:authorize="hasRole('ROLE_ADMIN')" th:onclick="QuestionDeleteByIdPerson([[${people.idPeople}]])"
									class="btn btn-outline-danger col-sm-4">
									<ion-icon name="trash-outline"></ion-icon></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>