<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<br>
		<div class="container">
			<div class="row">
				<h1 class="text-info" th:text="${titlepage}"></h1>

				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/Peoples/listPeople}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Lista de Personas</li>
					</ol>
				</nav>
				<p>
					<a th:href="@{/Peoples/formPeople}" class="btn btn-success">
						<ion-icon name="create-sharp"></ion-icon>
						Agregar</a>

				</p>

				<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
				<div class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>

				<table class="table table-bordered table-hover table-striped">
					<thead class="table-dark">
						<tr class="text-center">
							<th>N°</th>
							<th>Name</th>
							<th>Surname 1</th>
							<th>Surname 2</th>
							<th>Age</th>
							<th>Identity Document</th>
							<th>Email</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="people: ${people}">
							<td th:text="${people.idPeople}"></td>
							<td th:text="${people.identityPeople}"></td>
							<td th:text="${people.namePeople}"></td>
							<td th:text="${people.firstLastNamePeople}"></td>
							<td th:text="${people.secondLastNamePeople}"></td>
							<td th:text="${people.agePeople}"></td>
							<td th:text="${people.emailPeople}"></td>
							<td class="text-center">
								<a th:onclick="QuestionEditPeople([[${people.idPeople}]])"
									class="btn btn-primary btn-xs col-sm-4">
									<ion-icon name="create-outline"></ion-icon></a>
								<a th:onclick="QuestionDeleteByIdPerson([[${people.idPeople}]])"
									class="btn btn-danger btn-xs col-sm-4">
									<ion-icon name="trash-outline"></ion-icon></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>