<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head">
	<style>
		.input-group {
			display: flex;
			align-items: center;
			/* Alinea verticalmente al centro */
		}

		.input-group input {
			flex: 1;
			/* Ocupa el espacio disponible */
			margin-right: 10px;
			/* Espacio entre el input y el botón */
		}

		.input-group button {
			white-space: nowrap;
			/* Evita que el texto del botón se rompa */
		}
	</style>

</head>

<body class="bg-light bg-gradient">
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<br>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-info" th:text="${titlepage}"></h1>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/peoples/listPeople}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Formulario de Registro Personas</li>
					</ol>
				</nav>
				<div class="card shadow">
					<div class="card-body text-dark fa-solid fa-floppy-disk">
						<form class="container" th:action="@{/peoples/formPeople}" th:object="${employee}"
							method="post">
							<legend class="text-center" th:text="${titleform}"></legend>
							<!-- Foto -->
							<div class="row justify-content-center mb-3">
								<div class="col-lg-2 text-center" style="width: 50%;">
									<div class="row align-items-center">
										<div class="col-12">
											<img th:if="${employee.getId() == null}" id="imgAvatar"
												th:src="@{/images/default.png}" width="150" height="150"
												class="rounded-circle img-fluid">
											<img th:if="${employee.getId() > 0}" id="imgAvatar"
												th:src="@{/images/raul.ruiz.jpg}" width="150" height="150"
												class="rounded-circle img-fluid">
										</div>
										<div class="input-group mb-3" style="margin-top: 5px;">
											<input class="form-control" type="file" id="formFile">
											<button type="button" class="btn btn-light">Actualizar</button>
										</div>
									</div>
								</div>
							</div>

							<!-- Campos del formulario -->
							<div class="form-group row mb-3 xs-3">
								<label class="col-sm-2 col-form-label">Nombres</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{name}" class="form-control"
										placeholder="Ramón Esteban" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
										th:errors="*{name}"></div>
								</div>
								<label class="col-sm-2 col-form-label">Apellido Paterno</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{firstLastName}" class="form-control"
										placeholder="Gómez" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('firstLastName')}"
										th:errors="*{firstLastName}"></div>
								</div>
							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-2 col-form-label">Apellido Materno</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{secondLastName}" class="form-control"
										placeholder="Valdés" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('secondLastName')}"
										th:errors="*{secondLastName}"></div>
								</div>
								<label class="col-sm-2 col-form-label">Correo</label>
								<div class="col-sm-4">
									<input th:if="${employee.getId() == null}" type="text" th:field="*{emailPeople}"
										class="form-control" placeholder="migatomichi@gmail.com"
										th:errorclass="'form-control alert-danger'" />
									<input th:if="${employee.getId() > 0}" type="text" th:field="*{emailPeople}"
										class="form-control" placeholder="migatomichi@gmail.com"
										th:errorclass="'form-control alert-danger'" disabled />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('emailPeople')}"
										th:errors="*{emailPeople}"></div>
								</div>
							</div>

							<div class="form-group row mb-3 xs-3">
								<label class="col-sm-2 col-form-label">Tipo de documento</label>
								<div class="col-sm-2">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{tipoDocumento}">
										<option value="" selected>Seleccione</option>
										<option th:value="'Carnet Extranjería'" th:text="'Carnet Extranjería'"></option>
										<option th:value="'D.N.I'" th:text="'D.N.I'"></option>
										<option th:value="'RUC'" th:text="'RUC'"></option>
										</option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('tipoDocumento')}"
										th:errors="*{tipoDocumento}"></div>
								</div>

								<label class="col-sm-2 col-form-label" style="width:auto !important;">N° de
									Identificación</label>
								<div class="col-sm-2" style="width:20% !important;">
									<input th:if="${employee.getId() == null}" type="text" th:field="*{identityPeople}"
										class="form-control" placeholder="75887601"
										th:errorclass="'form-control alert-danger'" />
									<input th:if="${employee.getId() > 0}" type="text" th:field="*{identityPeople}"
										class="form-control" placeholder="75887601"
										th:errorclass="'form-control alert-danger'" disabled />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('identityPeople')}"
										th:errors="*{identityPeople}"></div>
								</div>

								<label class="col-sm-1 col-form-label">Género</label>
								<div class="col-sm-1" style="width:auto !important;">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{genero}">
										<option value="">Seleccione</option>
										<option th:value="'Hombre'" th:text="'Hombre'"></option>
										<option th:value="'Mujer'" th:text="'Mujer'"></option>
										<option th:value="'No especificado'" th:text="'No especificado'" selected>
										</option>
										<option th:value="'Otro'" th:text="'Otro'"></option>
									</select>
								</div>

								<label class="col-sm-1 col-form-label" style="width:auto !important;">Edad</label>
								<div class="col-sm-1" style="width:7% !important;">
									<input type="text" th:field="*{agePeople}" class="form-control"
										th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('agePeople')}"
										th:errors="*{agePeople}"></div>
								</div>
							</div>

							<div class="form-group row mb-3 xs-3">
								<label class="col-sm-2 col-form-label">Fecha de Nacimiento</label>
								<div class="col-sm-2">
									<input type="date" class="form-control" th:field="*{happyDay}" style="width: 100%;"
										th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('happyDay')}"
										th:errors="*{happyDay}"></div>
								</div>

								<label class="col-sm-1 col-xs-1 col-form-label" style="width:9% !important;">Estado
									Civil</label>
								<div class="col-sm-1" style="width:auto !important;">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{estadoCivil}">
										<option th:value="''">Seleccione</option>
										<option th:value="'Soltero'" th:text="'Soltero'" selected></option>
										<option th:value="'Casado'" th:text="'Casado'"></option>
										<option th:value="'Viudo'" th:text="'Viudo'" selected></option>
										<option th:value="'Otro'" th:text="'Otro'"></option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('estadoCivil')}"
										th:errors="*{estadoCivil}"></div>
								</div>

								<label class="col-sm-1 col-xs-1 col-form-label"
									style="width:6% !important;">Cargo</label>
								<div class="col-sm-2">
									<input type="text" th:field="*{cargo}" class="form-control"
										placeholder="Soporte de Procesos" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('cargo')}"
										th:errors="*{cargo}"></div>
								</div>

								<label class="col-sm-1 col-form-label" style="width:9% !important;">Fch. Ingreso</label>
								<div class="col-sm-2" style="width:15.50% !important;">
									<input type="date" class="form-control" th:field="*{fechingreso}"
										style="width: 100%;" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('fechingreso')}"
										th:errors="*{fechingreso}"></div>
								</div>
							</div>

							<div class="form-group row mb-3 xs-3">
								<label class="col-sm-2 col-form-label">N° Telefono</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{phone.phonenumber}" class="form-control"
										placeholder="+014516458" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('phone.phonenumber')}"
										th:errors="*{phone.phonenumber}"></div>
								</div>
								<label class="col-sm-2 col-form-label">N° Celular</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{phone.cellphone}" class="form-control"
										placeholder="+51943292759" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('phone.cellphone')}"
										th:errors="*{phone.cellphone}"></div>
								</div>
							</div>

							<div class="form-group row mb-3">
								<h3 class="text-center text-warning bg-dark rounded" th:text="'Domicilio'"></h3>
								<label class="col-sm-2 col-form-label">Pais</label>
								<div class="col-sm-2">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{address.pais}">
										<option value="" selected>Seleccione</option>
										<option th:value="'Perú'" th:text="'Perú'"></option>
										</option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('address.pais')}"
										th:errors="*{address.pais}"></div>
								</div>
								<label class="col-sm-2 col-form-label">Ciudad</label>
								<div class="col-sm-2">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{address.region}">
										<option value="" selected>Seleccione</option>
										<option th:value="'Lima'" th:text="'Lima'"></option>
										<option th:value="'Chiclayo'" th:text="'Chiclayo'"></option>
										</option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('address.region')}"
										th:errors="*{address.region}"></div>
								</div>

								<label class="col-sm-2 col-form-label">Distrito</label>
								<div class="col-sm-2">
									<select th:errorclass="'form-control alert-danger'" class="form-control"
										th:field="*{address.distrito}">
										<option value="" selected>Seleccione</option>
										<option th:value="'Lima metropolitana'" th:text="'Lima'"></option>
										<option th:value="'Ate'" th:text="'Ate'"></option>
										<option th:value="'La Victoria'" th:text="'La victoria'"></option>
										</option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('address.distrito')}"
										th:errors="*{address.distrito}"></div>
								</div>

							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-2 col-form-label">Dirección</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{address.direccion}" class="form-control"
										placeholder="Ramón Esteban" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('address.direccion')}"
										th:errors="*{address.direccion}"></div>
								</div>
								<label class="col-sm-2 col-form-label">Referencia</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{address.referencia}" class="form-control"
										placeholder="Ramón Esteban" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger"
										th:if="${#fields.hasErrors('address.referencia')}"
										th:errors="*{address.referencia}"></div>
								</div>
							</div>

							<legend class="text-center text-warning bg-dark rounded"
								th:text="'Crear cuenta de usuario'"></legend>

							<div class="form-group row mb-3">
								<!-- Columna 1 -->
								<label class="col-sm-2 col-form-label">Usuario</label>
								<div class="col-sm-2">
									<input type="text" th:field="*{userEntity.userName}" class="form-control" />
								</div>
								<!-- Columna 2 Roles -->
								<label class="col-sm-1 col-form-label">Roles</label>
								<div class="col-sm-5">
									<!-- Mostrar un input si la lista está vacía o nula -->
									<div th:if="${roles.isEmpty()}">
										<input type="text" th:field="*{userEntity.roles}" class="form-control" />
									</div>
									<!-- Mostrar campos de entrada para cada rol si la lista no está vacía -->
									<div th:if="${!roles.isEmpty()}">
										<div th:each="role, iter : ${roles}">
											<input type="text" th:value="${role.authority}" class="form-control mb-2" />
										</div>
									</div>

								</div>
								<!-- Columna 3 -->
								<div class="col-sm-2">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
											th:field="*{userEntity.userestado}" checked>
										<label class="form-check-label" for="flexCheckDefault">Activo</label>
									</div>
								</div>
							</div>
							<div class="form-group row mb-3">
								<!--Columna 1-->
								<label class="col-sm-2 col-form-label">Contraseña Nueva</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{userEntity.userPassword}" class="form-control"
										th:errorclass="'form-control alert-danger'" minlength="8" maxlength="12" />
								</div>
								<!--Columna 2-->
								<label class="col-sm-2 col-form-label">Repita Nueva Contraseña </label>
								<div class="col-sm-4">
									<input type="text" th:field="*{userEntity.userPassword}" class="form-control"
										th:errorclass="'form-control alert-danger'" minlength="8" maxlength="12" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-5 text-center mt-2">
									<input type="submit" value="Guardar" class="btn btn-outline-info"
										style="width: 50%;" />
								</div>
								<div class="col-sm-6 text-center mt-2">
									<a th:href="@{/peoples/listPeople}" class="btn btn-outline-success"
										style="width: 50%;">
										<ion-icon name="arrow-undo-outline"></ion-icon> Regresar
									</a>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>