<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head">
	<style>
		.input-group .form-control {
			position: relative;
		}

		.input-group .password-toggle {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY(-50%);
			cursor: pointer;
			z-index: 1;
		}
	</style>
</head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container" id="pantll">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Creación de Usuario</li>
					</ol>
				</nav>
				<div class="card">
					<div class="card-body">
						<!-- Formulario de registro -->
						<form th:action="@{/user/formUser}" th:object="${user}" method="post" onsubmit="return validateForm()">
							<h2 class="text-center" th:text="${titlepage}"></h2>
							<input type="hidden" th:field="*{id}">
							<!-- Tipo de Usuario -->
							<div th:if="${user.getId()==null}" class="form-group row mb-3">
							    <label class="col-sm-4 col-form-label">Tipo de Usuario</label>
							    <div class="col-sm-7">
							        <select id="userType" class="form-control" th:field="*{tipoUsuario}" onchange="toggleUserSelection()">
							            <option value="0">Seleccione Tipo de Usuario</option>
							            <option value="Empleado">Empleado</option>
							            <option value="Cliente">Cliente</option>
							        </select>
							    </div>
							</div>
							<!-- Lista de empleados -->
							<div id="employeeSection" class="form-group row mb-3 justify-content-center" 
								style="display: none;padding-left: 60px;padding-right: 60px;">
							        		<select class="form-control" th:field="*{employee}" style="border: 2px solid #6610f2;">
									            <option value="0">Seleccione Empleado</option>
									            <option th:each="option: ${people}" th:value="${option.id}"
									                th:text="${option.name + ' ' + option.firstLastName + ' ' + option.secondLastName + ' (' + option.agePeople + ')'}">
									            </option>
								        </select>
							</div>
							<!-- Lista de clientes -->
							<div id="customerSection" class="form-group row mb-3 align-items-center" 
								style="display: none;padding-left: 60px;padding-right: 60px;">
							        <select class="form-control" th:field="*{customer}" style="border: 2px solid #0d6efd">
							            <option value="0">Seleccione Cliente</option>
							            <option th:each="option: ${customers}" th:value="${option.id}"
							                th:text="${option.name + ' ' + option.lastNames + ' (' + option.identityCustomer + ')'}">
							            </option>
							        </select>
							</div>
							<!-- SI ES EMPLEADO MUESTRA ESTO -->
							<div th:if="${user.getId()>0 and user.employee !=null}" class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Empleado </label>
								<div class="col-sm-7">
									<input type="text" th:field="*{employee.fullName}" class="form-control" disabled />
								</div>
							</div>
							<!-- SI ES CLIENTE MUESTRA ESTO -->
							<div th:if="${user.getId()>0 and user.customer !=null}" class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Cliente </label>
								<div class="col-sm-7">
									<input type="text" th:field="*{customer.nameComplete}" class="form-control" disabled />
								</div>
							</div>
							<div class="form-group row mb-3">
								<!-- Columna 1 -->
								<label class="col-sm-4 col-form-label">Usuario</label>
								<div class="col-sm-5">
									<input type="text" th:field="*{userName}" class="form-control" />
								</div>
								<!-- Columna 3 -->
								<div class="col-sm-2">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="estadouser"
											th:field="*{userestado}" checked>
										<label class="form-check-label" for="estadouser">Activo</label>
									</div>
								</div>
							</div>
							<div th:if="${user.getId()>0}" class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Nueva Contraseña</label>
								<div class="col-sm-7 password-container">
									<input type="text" id="passnew" th:field="*{userPassword}" class="form-control"/>
									<i class="fas fa-eye password-toggle" onclick="togglePasswordVisibility('passnew', this)"></i>
									<span id="passwordHelpInline" class="form-text"> 8 Caracteres, una mayuscula, una
										minuscula, un número y un caracter.</span>
								</div>
							</div>
							
							<div th:if="${user.getId()==null}" class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Nueva Contraseña</label>
								<div class="col-sm-7 password-container">
									<input type="password" id="newPassword" th:field="*{userPassword}"
										class="form-control" autocomplete="current-password" />
									<i class="fas fa-eye password-toggle"
										onclick="togglePasswordVisibility('newPassword', this)"></i>
									<span id="passwordHelpInline" class="form-text"> 8 Caracteres, una mayuscula, una
										minuscula, un número y un caracter.</span>
									<div class="form-text text-danger" id="newPasswordError"></div>
								</div>
							</div>
							<div th:if="${user.getId()==null}" class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Repita la Contraseña</label>
								<div class="col-sm-7 password-container">
									<input type="password" id="repeatPassword" class="form-control" />
									<i class="fas fa-eye password-toggle"
										onclick="togglePasswordVisibility('repeatPassword', this)"></i>
									<span id="passwordHelpInline" class="form-text"> 8 Caracteres, una mayuscula, una
										minuscula, un número y un caracter.</span>
									<div class="form-text text-danger" id="repeatPasswordError"></div>
								</div>
							</div>
							<div class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Roles</label>
								<div class="col-sm-8 rounded shadow-sm">
									<div class="row">
										<!-- Cliente -->
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" name="Authority" type="checkbox"
													value="ROLE_CUSTOMER" id="cliente">
												<label class="form-check-label" for="cliente">Cliente</label>
											</div>
										</div>
										<!-- Empleado Administrativo -->
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" name="Authority" type="checkbox"
													value="ROLE_EMPLOYEE" id="empleado">
												<label class="form-check-label" for="empleado">Administrativo</label>
											</div>
										</div>
										<!-- Soporte -->
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" name="Authority" type="checkbox"
													value="ROLE_SUPPORT" id="soporte">
												<label class="form-check-label" for="soporte">Soporte</label>
											</div>
										</div>
										<!-- Manager -->
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" name="Authority" type="checkbox"
													value="ROLE_MANAGER" id="manager">
												<label class="form-check-label" for="manager">Manager</label>
											</div>
										</div>
										<!-- Administrador -->
										<div class="col-4">
											<div class="form-check">
												<input class="form-check-input" name="Authority" type="checkbox"
													value="ROLE_ADMIN" id="administrador">
												<label class="form-check-label"
													for="administrador">Administrador</label>
											</div>
										</div>
										
									</div>
								</div>
							</div>


							<div class="form-group row">
								<div class="row col-sm-5 mt-end" style="margin-left: 20px;margin-right: 20px;">
									<input type="submit" value="Guardar" class="btn btn-outline-info" />
								</div>
								<div class="row col-sm-6">
									<a th:href="@{/user/listUsers}" class="btn btn-outline-success">
										<ion-icon name="arrow-undo-outline"></ion-icon>Lista de Usuarios</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    function toggleUserSelection() {
        var userType = document.getElementById("userType").value;
        document.getElementById("employeeSection").style.display = (userType == "Empleado") ? "block" : "none";
        document.getElementById("customerSection").style.display = (userType == "Cliente") ? "block" : "none";
    }
	</script>
	<footer th:replace="main/layout :: footer" class="d-md-none d-lg-block"></footer>
</body>

</html>