<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container mt-5" id="pantll">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-body">
						<!-- Formulario de registro -->
						<form th:action="@{/user/userReg}" th:object="${user}" method="post">
							<legend class="text-center" th:text="${titlepage}"></legend>
							
							<div class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Cliente &nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
								<div class="col-sm-7">
									<select class="form-control" th:field="*{people}">
										<option value="0">Seleccione Cliente</option>
										<option th:each="option: ${people}" th:value="${option.id}"
											th:text="${option.name+ ' '+option.firstLastName+ ' '+option.secondLastName+' ('+option.agePeople+')'}">
										</option>
									</select>
								</div>
							</div>
							
							<div class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Rol del Usuario        : </label>
								<div class="col-sm-7">
									<select class="form-control" th:field="*{roles}">
										<option value="0">Seleccion rol del Cliente</option>
										<option th:each="option: ${rol}" th:value="${option.idRolUser}"
											th:text="${option.levelUser+ ' : ' + option.descripRolUser}"></option>
									</select>
								</div>
							</div>
					
							<div class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Usuario &nbsp;&nbsp;&nbsp;
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
								<div class="col-sm-7">
									<input type="text" th:field="*{userName}" class="form-control"/>
								</div>
							</div>
							
							<div class="form-group row mb-3">
								<label class="col-sm-4 col-form-label">Contraseña &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </label>
								<div class="col-sm-7">
									<input type="text" th:field="*{userPassword}" class="form-control"/>
								</div>
							</div>

							<div class="form-group row">
								<div class="row col-sm-5 mt-end" style="margin-left: 20px;margin-right: 20px;">
									<input type="submit" value="Guardar" class="btn btn-outline-info" />
								</div>
								<div class="row col-sm-6">
									<a th:href="@{/peoples/listPeople}" class="btn btn-outline-success">
										<ion-icon name="arrow-undo-outline"></ion-icon>Regresar</a>
								</div>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
	<!-- Script para mostrar SweetAlert -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var successMessage = /*[[${successMessage}]]*/ null;
		var errorMessage = /*[[${errorMessage}]]*/ null;

		if (successMessage) {
			Swal.fire({
				icon: 'success',
				title: '¡Éxito!',
				text: successMessage,
				showConfirmButton: true,
				confirmButtonText: 'OK'
			}).then((result) => {
				if (result.isConfirmed) {
					window.location.href = '/usuarios/login'; // Redirige al login si se confirma
				}
			});
		}

		if (errorMessage) {
			Swal.fire({
				icon: 'error',
				title: '¡Error!',
				text: errorMessage
			});
		}
        /*]]>*/
	</script>
</body>

</html>