<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<br>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-info" th:text="${titlepage}"></h1>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/Peoples/listPeople}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Formulario de Registro Personas</li>
					</ol>
				</nav>
				<p>
					<a th:href="@{/Peoples/listPeople}" class="btn btn-success">
						<ion-icon name="arrow-undo-outline"></ion-icon>
						Regresar</a>
				</p>
				<div class="card">
					<div class="card-header text-white bg-dark" th:text="${titleform}"></div>

					<div class="card-body text-dark fa-solid fa-floppy-disk">

						<form th:action="@{/Peoples/formPeople}" th:object="${people}" method="post">

							<div class="form-group row mb-3">
								<label class="col-sm-3 col-form-label">Nombres</label>
								<div class="col-sm-9">
									<input type="text" th:field="*{namePeople}" class="form-control"
										placeholder="Ramón Esteban" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('namePeople')}"
										th:errors="*{namePeople}">
									</div>
								</div>
							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-3 col-form-label">Apellido Paterno</label>
								<div class="col-sm-9">
									<input type="text" th:field="*{firstLastNamePeople}" class="form-control"
										placeholder="Gómez" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger"
										th:if="${#fields.hasErrors('firstLastNamePeople')}"
										th:errors="*{firstLastNamePeople}">
									</div>
								</div>
							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-3 col-form-label">Apellido Materno</label>
								<div class="col-sm-9">
									<input type="text" th:field="*{secondLastNamePeople}" class="form-control"
										placeholder="Valdés" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger"
										th:if="${#fields.hasErrors('secondLastNamePeople')}"
										th:errors="*{secondLastNamePeople}">
									</div>
								</div>
							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-3 col-form-label">Edad</label>
								<div class="col-sm-2">
									<input type="text" th:field="*{agePeople}" class="form-control"
										th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('agePeople')}"
										th:errors="*{agePeople}">
									</div>
								</div>

								<label class="col-sm-4 col-form-label">Documento de Identidad</label>
								<div class="col-sm-3">
									<input type="text" th:field="*{identityPeople}" class="form-control"
										placeholder="75896458" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('identityPeople')}"
										th:errors="*{identityPeople}">
									</div>
								</div>

							</div>

							<div class="form-group row mb-3">
								<label class="col-sm-3 col-form-label">Correo</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" th:field="*{emailPeople}"
										placeholder="migatomichi@gmail.com"
										th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('emailPeople')}"
										th:errors="*{emailPeople}">
									</div>
								</div>
							</div>
							<br>
							<div class="form-group row">
								<input type="submit" value="Guardar" class="btn btn-primary col-sm-4"/>
							</div>

						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>