<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="main/layout :: head"></head>
<body class="bg-light bg-gradient">
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<br>
		<div class="container">
			<div class="row justify-content-center">
				<h1 class="text-info" th:text="${titlepage}"></h1>
				<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Registro de datos del Cliente</li>
					</ol>
				</nav>
				<div class="card shadow">
					<div class="card-body text-dark">
						<form class="container" th:action="@{/customer/formCustomer}" th:object="${customer}" method="post">
							<H2 class="text-center" th:text="${titleform}"></H2>
							
							<div class="form-group row mb-3 xs-3">
								<!-- NOMBRES -->
								<label class="col-sm-2 col-form-label">Nombres</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{name}" class="form-control" placeholder="Ramón Esteban" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
								</div>
								<!-- APELLIDOS -->
								<label class="col-sm-2 col-form-label" style="width:auto !important;">Apellidos</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{lastNames}" class="form-control" placeholder="Gómez" th:errorclass="'form-control alert-danger'" />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('lastNames')}" th:errors="*{lastNames}"></div>
								</div>
							</div>
							
							<div class="form-group row mb-3 xs-3">
								<!-- TIPO DE DOCUMENTO -->
								<label class="col-sm-2 col-form-label">Tipo de documento</label>
								<div class="col-sm-2">
									<select th:errorclass="'form-control alert-danger'" class="form-control" th:field="*{tipoDocumento}">
										<option value="" selected>Seleccione</option>
										<option th:value="'Carnet Extranjería'" th:text="'Carnet Extranjería'"></option>
										<option th:value="'D.N.I'" th:text="'D.N.I'"></option>
										<option th:value="'RUC'" th:text="'RUC'"></option>
									</select>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('tipoDocumento')}" th:errors="*{tipoDocumento}"></div>
								</div>
								<!-- NÚMERO DE DOCUMENTO -->
								<label class="col-sm-2 col-form-label" style="width:auto !important;">N° de Identificación</label>
								<div class="col-sm-2">
									<input type="text" th:field="*{identityCustomer}" class="form-control" placeholder="75887601" th:errorclass="'form-control alert-danger'"/>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('identityCustomer')}"
										th:errors="*{identityCustomer}"></div>
								</div>
							</div>
							
							<div class="form-group row mb-3 xs-3">
								<!-- RUC -->
								<label class="col-sm-2 col-form-label">RUC</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{RUC}" class="form-control" placeholder="10758876015" th:errorclass="'form-control alert-danger'"  />
									<div class="form-text text-danger" th:if="${#fields.hasErrors('RUC')}" th:errors="*{RUC}"></div>
								</div>
								<!-- RAZON SOCIAL -->
								<label class="col-sm-2 col-form-label" style="width:auto !important;">Razon Social</label>
								<div class="col-sm-4">
									<input type="text" th:field="*{razonsocial}" class="form-control" placeholder="latin Systems SAC" th:errorclass="'form-control alert-danger'"/>
									<div class="form-text text-danger" th:if="${#fields.hasErrors('razonsocial')}" th:errors="*{razonsocial}"></div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-sm-5 text-center mt-2">
									<input type="submit" value="Guardar" class="btn btn-outline-info" style="width: 50%;" />
								</div>
								<div class="col-sm-6 text-center mt-2">
									<a th:href="@{/customer/listCustomers}" class="btn btn-outline-success"
										style="width: 50%;">
										<ion-icon name="arrow-undo-outline"></ion-icon>Lista de Clientes
									</a>
								</div>
							</div>
						</form>

					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- Ver foto previa -->
	<script type="text/javascript">
	document.getElementById('formFile').addEventListener('change', function(event) {
		const file = event.target.files[0];
		if (file) {
			const reader = new FileReader();
			reader.onload = function(e) {
				document.getElementById('imgAvatar').src = e.target.result;
			}
			reader.readAsDataURL(file);
		}
	});
	</script>
	<footer th:replace="main/layout :: footer" class="d-none d-md-block"></footer>
</body>

</html>