<!DOCTYPE html>
<html lang="en" data-theme="light" 
style="color-scheme: light;" 
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="main/layout :: head"></head>
<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<h1 class="text-info">Reporte de Eventos <strong class="text-success"> General</strong>			
			</h1>
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Reporte de Gestiones</li>
					</ol>
			</nav>
			<!-- CADS -->
			<div class="row">
				<!-- Card on the Left -->
	            <div class="col-md-6">
	                <div class="card">
	                    <div class="card-header bg-success text-white fw-bold">
	                        Descargar reporte de Eventos
	                    </div>
	                    <div class="card-body">
						    <div class="row">
						        <!-- Fecha de Inicio -->
						        <div class="col-md-6 mb-3">
						            <label class="form-label">Inicio:</label>
						            <input type="date" class="form-control" id="startdate">
						        </div>
						        <!-- Fecha Hasta -->
						        <div class="col-md-6 mb-3">
						            <label for="endDateLeft" class="form-label">Hasta:</label>
						            <input type="date" class="form-control" id="enddate">
						        </div>
						    </div>
						    <a href="#" class="btn bg-success bg-gradient text-white fw-bold" onclick="downloadReport()">Descargar reporte Xlsx</a>
						</div>
	                </div>
	            </div>
	            <!-- Card on the Right -->
	            <div class="col-md-6">
	                <div class="card">
	                    <div class="card-header bg-success text-white fw-bold">
	                        Descargar reporte de Eventos por Tipo
	                    </div>
		                    <div class="card-body">
							    <div class="row">
							    	<!-- lista con opciones de seleccionar -->
						             <div class="col-md-12 mb-3">
						                    <label for="eventList" class="form-label">Seleccionar evento:</label>
						                    <div id="eventList">
						                        <ul class="list-group">
						                            <!-- Iterar sobre la lista de eventos gestionTickets -->
						                            <li th:each="event : ${gestionTickets}" class="list-group-item">
						                                <input type="radio" th:id="'event-' + ${event.id}" th:value="${event.id}" name="eventType">
						                                <label th:for="'event-' + ${event.id}">
						                                <i class="fas fa-circle me-2"></i> <!-- Icono de círculo -->
						                                <span th:text="${event.nameEvent}"></span> <!-- Nombre del tipo de evento -->
						                                </label>
						                            </li>
						                        </ul>
						                    </div>
						             </div>
							        <!-- Fecha de Inicio -->
							        <div class="col-md-6 mb-3">
							            <label for="startDateRig" class="form-label">Inicio:</label>
							            <input type="date" class="form-control" id="startDateRig">
							        </div>
							        <!-- Fecha Hasta -->
							        <div class="col-md-6 mb-3">
							            <label for="endDateRig" class="form-label">Hasta:</label>
							            <input type="date" class="form-control" id="endDateRig">
							        </div>
							    </div>
							    <a href="#" class="btn bg-success bg-gradient text-white fw-bold" onclick="downloadReportByEvent()">Descargar reporte Xlsx</a>
							</div>
	                </div>
	            </div>
			</div>
		</div>
	</div>
<script>
function downloadReport() {
    const startDate = document.getElementById('startdate').value;
    const endDate   = document.getElementById('enddate').value;
    //Si no hay fecha seleccionado
    if (!startDate || !endDate) {
    	swal({
	        title: 'Advertencia',
	        text: 'Por favor, selecciona las fechas de inicio y fin.',
	        icon: 'warning',
	        button: 'OK'
	    });
        return;
    }
    //La fecha de inicio no puede ser menor a la fecha fin
    if(startDate > endDate){
    	swal({
	        title: 'Advertencia',
	        text: 'La fecha de inicio no puede ser superior a la hasta.',
	        icon: 'warning',
	        button: 'OK'
	    });
        return;
    }
 	// Función para convertir de 'YYYY-MM-DD' a 'DD/MM/YYYY'
    function formatDate(dateStr) {
        const [year, month, day] = dateStr.split('-');  // Dividimos la fecha por guión
        return `${parseInt(day)}/${parseInt(month)}/${year}`;  // Reorganizamos a DD/MM/YYYY
    }
    const formattedStartDate = formatDate(startDate);
    const formattedEndDate = formatDate(endDate);
    // Hacer la solicitud al backend con fetch
    fetch(`/reports/download-report?startDate=${formattedStartDate}&endDate=${formattedEndDate}`, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'}
    })
    .then(response => {
        if (!response.ok) {
            // Si la respuesta no es exitosa, obtener el mensaje de error
            return response.text().then(message => {
                swal({
                    title: 'Advertencia',
                    text: message,  // Mostrar el mensaje de error del backend
                    icon: 'warning',
                    button: 'OK'
                });
                throw new Error(message);  // Lanzar error para detener el flujo
            });
        }
        return response.blob();  // Si la respuesta es correcta, obtener el archivo
    })
    .then(blob => {
        // Crear un enlace para descargar el archivo
        const url = window.URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'reporte_eventos.xlsx';
        document.body.appendChild(a);
        a.click();
        a.remove();
        swal({
            title: 'Reporte Descargado',
            text: 'Se ha descargado el archivo correctamente.',  // Mostrar el mensaje de error del backend
            icon: 'success',
            button: 'OK'
        });
    })
    .catch(error => {
        console.error('Error al descargar el reporte:', error);
    });
}

//funcion para la derecha:
	function downloadReportByEvent(){
		 const startDate = document.getElementById('startDateRig').value;
		 const endDate   = document.getElementById('endDateRig').value;
		 const eventRadio = document.querySelector('input[name="eventType"]:checked');
		 const eventId = eventRadio ? eventRadio.value : null;
		// Verificar si las fechas y el evento están seleccionados
		    if (!startDate || !endDate) {
		        swal({
		            title: 'Advertencia',
		            text: 'Por favor, selecciona las fechas de inicio y fin.',
		            icon: 'warning',
		            button: 'OK'
		        });
		        return;
		    }
		if(startDate && endDate && !eventId){
			swal({
	            title: 'Advertencia',
	            text: 'Por favor, seleccione un evento',
	            icon: 'warning',
	            button: 'OK'
	        });
		}
		    if (!eventId) {
		        swal({
		            title: 'Advertencia',
		            text: 'Por favor, selecciona un evento.',
		            icon: 'warning',
		            button: 'OK'
		        });
		        return;
		    }
		    
		 // La fecha de inicio no puede ser mayor que la fecha fin
		    if (startDate > endDate) {
		        swal({
		            title: 'Advertencia',
		            text: 'La fecha de inicio no puede ser superior a la fecha fin.',
		            icon: 'warning',
		            button: 'OK'
		        });
		        return;
		    }
		 
		 // Función para convertir de 'YYYY-MM-DD' a 'DD/MM/YYYY'
		    function formatDate(dateStr) {
		        const [year, month, day] = dateStr.split('-');  // Dividimos la fecha por guión
		        return `${parseInt(day)}/${parseInt(month)}/${year}`;  // Reorganizamos a DD/MM/YYYY
		    }
		 
		    const formattedStartDate = formatDate(startDate);
		    const formattedEndDate = formatDate(endDate);
		    
		 // Hacer la solicitud al backend con fetch
		    fetch(`/reports/download-reportbyevent?startDate=${formattedStartDate}&endDate=${formattedEndDate}&eventId=${eventId}`, {
		        method: 'GET',
		        headers: {'Content-Type': 'application/json'}
		    })
		    .then(response => {
		        if (!response.ok) {
		            return response.text().then(message => {
		                swal({
		                    title: 'Advertencia',
		                    text: message,
		                    icon: 'warning',
		                    button: 'OK'
		                });
		                throw new Error(message);
		            });
		        }
		        return response.blob();  // Obtener el archivo si la respuesta es correcta
		    }).then(blob => {
		        const url = window.URL.createObjectURL(blob);
		        const a = document.createElement('a');
		        a.href = url;
		        a.download = 'reporte_eventos_por_eventos.xlsx';
		        document.body.appendChild(a);
		        a.click();
		        a.remove();
		        swal({
		            title: 'Reporte Descargado',
		            text: 'Se ha descargado el archivo correctamente.',  // Mostrar el mensaje de error del backend
		            icon: 'success',
		            button: 'OK'
		        });
		    }).catch(error => {
		        console.error('Error al descargar el reporte:', error);
		    });
	}
</script>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>