<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<div class="row card shadow"
				style="margin-left: 48px;margin-right: 48px;margin-top: 40px;margin-bottom: 40px;padding-left: 0px;padding-right: 0px;padding-left: 10px;padding-right: 10px">
				<div class="container rounded bg-white mt-5 mb-5" style="margin-top: 24px !important;">
					<h4 class="text-capitalize fw-bold" th:text="${titlepage}"></h4>
					<div class="row">
						<div class="col-md-3 border-right border border-warning"
							style="margin-left: 15px;margin-right: 10px;width: 30%;">
							<div class="d-flex flex-column align-items-center text-center p-3 py-5">
								<!-- Muestra cuando la persona tiene foto -->
								<img th:if="${employee.foto != null and #strings.length(employee.foto) > 0}"  class="img-thumbnail rounded float-left"
									style="max-width: 80%;" th:src="@{'/TallerWeb-Fotos/'+${employee.foto}}"
									th:alt="${employee.foto}" />
								<!-- Si la persoan no tiene foto muestra una imagen por defecto -->
								<img th:if="${employee.foto == null}"  class="img-thumbnail rounded float-left"
									style="max-width: 90%;" th:src="@{/images/predeterminado.png}"
									alt="Imganen predeterminado" />
									
								<span class="font-weight-bold" th:text="${employee.fullName}"></span>
								<span class="text-black-50" th:text="${employee.emailPeople}"></span>
							</div>
						</div>
						<div class="col-md-10 mx-auto border border-success" style="width: 66%;">
							<div class="p-3 py-5">

								<div class="d-flex justify-content-between align-items-center mb-3"
									style="margin-bottom: 4px !important;">
									<h4 class="text-right text-center" th:text="${'Información personal'}"></h4>
								</div>

								<div class="row">
									<!-- Columna 1 -->
									<div class="col-md-4 mb-3">
										<label>Nombre</label>
										<input type="text" class="form-control" th:field="*{employee.name}" disabled>

										<label>Doc. Identidad</label>
										<input type="text" class="form-control" th:field="*{employee.identityPeople}"
											disabled>
									</div>
									<!-- Columna 2 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Paterno</label>
										<input type="text" class="form-control" th:field="*{employee.firstLastName}"
											disabled>

										<label>Fec. Nacimiento</label>
										<input type="text" class="form-control" th:field="*{employee.happyDay}"
											disabled>
									</div>
									<!-- Columna 3 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Materno</label>
										<input type="text" class="form-control" th:field="*{employee.secondLastName}"
											disabled>

										<label>Cargo</label>
										<input type="text" class="form-control" th:field="*{employee.cargo}"
											placeholder="Soporte de Procesos" disabled>
									</div>
									<!-- Columna 1 - fila2 -->
									<div class="d-flex justify-content-between align-items-center mb-3"
										style="margin-bottom: 4px !important;">
										<h4 class="text-right text-center" th:text="${'Cuenta de usuario'}"></h4>
									</div>
									<div class="col-md-4 mb-3">
										<label>Usuario</label>
										<input type="text" class="form-control"
											th:field="*{employee.userEntity.userName}" disabled>

									</div>
									<div class="col-md-4 mb-3">
										<label>Contraseña</label>
										<input type="text" class="form-control"
											th:field="*{employee.userEntity.userPassword}" disabled>
									</div>
									<div class="col-md-4 mb-3">
										<label>Estado</label>
										<input th:if="${employee.userEntity.getUserestado() == true}" type="text"
											class="form-control" value="Activo" disabled>
										<input th:if="${employee.userEntity.getUserestado() == false}" type="text"
											class="form-control" value="Inactivo" disabled>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12 text-center">
										<a th:href="@{/peoples/listPeople}" class="btn btn-outline-success">
											<ion-icon name="arrow-undo-outline"></ion-icon>Regresar</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>