<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/layout :: head">
<!-- FontAwesome para el icono de ojito -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<div class="row card shadow"
				style="margin-left: 48px; margin-right: 48px; margin-top: 40px; margin-bottom: 40px; padding-left: 0px; padding-right: 0px; padding-left: 10px; padding-right: 10px">
				<div class="container rounded bg-white mt-5 mb-5"
					style="margin-top: 24px !important;">
					<h4 class="text-capitalize fw-bold" th:text="${titlepage}"></h4>
					<div class="row">
						<div
							class="col-md-3 border-right rounded border border-warning bg-dark bg-gradient"
							style="margin-left: 15px; margin-right: 10px; width: 30%;">
							<form th:action="@{/peoples/updatePicture}" method="post"
								enctype="multipart/form-data">
								<div class="d-flex flex-column align-items-center p-3 py-5">

									<!-- Muestra cuando la persona tiene foto -->
									<img id="imgAvatar"
										th:if="${employee.foto != null and #strings.length(employee.foto) > 0}"
										class="img-thumbnail rounded float-left"
										style="max-width: 80%;"
										th:src="@{'/TallerWeb-Fotos/'+${employee.foto}}"
										th:alt="${employee.foto}" />

									<!-- Si la persoan no tiene foto muestra una imagen por defecto -->
									<img th:if="${employee.foto == null}"
										class="img-thumbnail rounded float-left"
										style="max-width: 90%;" th:src="@{/images/predeterminado.png}"
										alt="Imganen predeterminado" />
									<div class="input-group mb-3" style="margin-top: 5px;">
										<input class="form-control" name="file" type="file"
											id="formFile"> <input type="hidden" name="id"
											th:value="${employee.id}">
										<button type="submit" class="btn btn-light">Actualizar</button>
									</div>
									<span class="text-light font-weight-bold"
										th:text="${employee.fullName}"></span> <span
										class=" text-light font-weight-bold"
										th:text="${employee.emailPeople}"></span>

									<!--Para los mensajes-->
									<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				<symbol id="check-circle-fill" fill="currentColor"
											viewBox="0 0 16 16">
					<path
											d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
				</symbol>
				<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
					<path
											d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
				</symbol>
				<symbol id="exclamation-triangle-fill" fill="currentColor"
											viewBox="0 0 16 16">
					<path
											d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</symbol>
			</svg>

									<div id="message3" th:if="${mensage != null}"
										class="alert alert-warning d-flex align-items-center"
										role="alert">
										<svg class="bi flex-shrink-0 me-2" width="24" height="24"
											role="img" aria-label="mensage:">
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>
										<div th:text="${mensage}"></div>
									</div>

								</div>
							</form>
						</div>
						<div class="col-md-10 mx-auto rounded border border-success"
							style="width: 66%;">
							<div class="p-3 py-5">

								<div
									class="d-flex justify-content-between align-items-center mb-3"
									style="margin-bottom: 4px !important;">
									<h4 class="text-right text-center"
										th:text="${'Información personal'}"></h4>
								</div>

								<div class="row">
									<!-- Columna 1 -->
									<div class="col-md-4 mb-3">
										<label>Nombre</label> <input type="text" class="form-control"
											th:field="*{employee.name}" disabled> <label>T.
											Documento</label> <input type="text" class="form-control"
											th:field="*{employee.tipoDocumento}" disabled> <label>Género</label>
										<input type="text" class="form-control"
											th:field="*{employee.genero}" disabled>

									</div>
									<!-- Columna 2 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Paterno</label> <input type="text"
											class="form-control" th:field="*{employee.firstLastName}"
											disabled> <label>N° Documento</label> <input
											type="text" class="form-control"
											th:field="*{employee.identityPeople}" disabled> <label>Estado
											Civil</label> <input type="text" class="form-control"
											th:field="*{employee.estadoCivil}" disabled>

									</div>
									<!-- Columna 3 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Materno</label> <input type="text"
											class="form-control" th:field="*{employee.secondLastName}"
											disabled> <label>Fec. Nacimiento</label> <input
											type="text" class="form-control"
											th:field="*{employee.happyDay}" disabled> <label>Correo
											E.</label> <input type="text" class="form-control"
											th:field="*{employee.emailPeople}" disabled>


									</div>
									<!-- Columna 1 - fila2 -->
									<div
										class="d-flex justify-content-between align-items-center mb-3"
										style="margin-bottom: 4px !important;">
										<h4 class="text-right text-center"
											th:text="${'Información de Contacto y Trabajo'}"></h4>
									</div>
									<div class="col-md-4 mb-3">
										<label>Tlfn. de Emergencia</label> <input type="text"
											class="form-control" th:field="*{employee.phone.phonenumber}"
											disabled> <label>Cargo</label> <input type="text"
											class="form-control" th:field="*{employee.cargo}"
											placeholder="cargo ocupado en la empresa" disabled>

									</div>
									<div class="col-md-4 mb-3">
										<label>Tlfn. de Contacto</label> <input type="text"
											class="form-control" th:field="*{employee.phone.cellphone}"
											disabled> <label>Fch. Salida de la Empresa</label> <input
											type="text" class="form-control"
											th:if="${employee.fechsalida != null}"
											th:field="*{employee.fechsalida}"
											placeholder="Fecha de Salida de la Compañia" disabled>
										<input th:if="${employee.fechsalida == null}" type="text"
											class="form-control" value="Sigue laborando" disabled>
									</div>
									<div class="col-md-4 mb-3">
										<label>Fch. Ingreso a la Empresa</label> <input type="text"
											class="form-control" th:field="*{employee.fechingreso}"
											disabled> <label>Estado</label> <input
											th:if="${employee.userEntity == null}" type="text"
											class="form-control" value="Aun no tiene cuenta" disabled>
										<input
											th:if="${employee.userEntity != null and employee.userEntity.getUserestado() == true}"
											type="text" class="form-control" value="Activo" disabled>
										<input
											th:if="${employee.userEntity != null and employee.userEntity.getUserestado() == false}"
											type="text" class="form-control" value="Inactivo" disabled>
									</div>
									<!-- Columna 1 - fila2 -->
									<div
										class="d-flex justify-content-between align-items-center mb-3"
										style="margin-bottom: 4px !important;">
										<h4 class="text-right text-center" th:text="${'Domicilio'}"></h4>
									</div>
									<div class="col-md-4 mb-3">
										<label>Residencia</label> <input type="text"
											class="form-control"
											th:field="*{employee.fullAddressWithEmployee}" readonly>

									</div>
									<div class="col-md-8 mb-3">
										<label>Dirección</label> <input type="text"
											class="form-control" th:field="*{employee.address.direccion}"
											disabled> <label>Referencia</label> <input
											type="text" class="form-control"
											th:field="*{employee.address.referencia}" disabled>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-md-12 text-center">
										<a th:href="@{/}" class="btn btn-outline-success"> <ion-icon
												name="arrow-undo-outline"></ion-icon>Regresar
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>