<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/layout :: head"></head>

<body>
	<header th:replace="main/layout :: header"></header>
	<div class="container-fluid" id="pantll">
		<div class="container">
			<div class="row card shadow"
				style="margin-left: 48px;margin-right: 48px;margin-top: 40px;margin-bottom: 40px;padding-left: 0px;padding-right: 0px;padding-left: 10px;padding-right: 10px">
				<div class="container rounded bg-white mt-5 mb-5" style="margin-top: 24px !important;">
					<h4 class="text-right text-center" th:text="${titlepage}"
										style="margin-left:36px;margin-right: 36px;"></h4>
					<div class="row">
						<div class="col-md-3 border-right border border-warning"
							style="margin-left: 15px;margin-right: 10px;width: 30%;">
							<div class="d-flex flex-column align-items-center text-center p-3 py-5">
								<img class="rounded-circle mt-5" width="150px" th:src="@{/images/raul.ruiz.jpg}">
								<span class="font-weight-bold" th:text="${people.fullName}"></span>
								<span class="text-black-50" th:text="${people.emailPeople}"></span>
							</div>
						</div>
						<div class="col-md-10 mx-auto border border-success" style="width: 66%;">
							<div class="p-3 py-5">

								<div class="d-flex justify-content-between align-items-center mb-3" style="margin-bottom: 4px !important;">
									<h4 class="text-right text-center" th:text="${'Información personal'}"></h4>
								</div>

								<div class="row">
									<!-- Columna 1 -->
									<div class="col-md-4 mb-3">
										<label >Nombre</label>
										<input type="text" class="form-control" th:field="*{people.name}" disabled>

										<label>Doc. Identidad</label>
										<input type="text" class="form-control" th:field="*{people.identityPeople}"
											disabled>
									</div>
									<!-- Columna 2 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Paterno</label>
										<input type="text" class="form-control" th:field="*{people.firstLastName}"
											disabled>

										<label>Fec. Nacimiento</label>
										<input type="text" class="form-control" th:field="*{people.happyDay}" disabled>
									</div>
									<!-- Columna 3 -->
									<div class="col-md-4 mb-3">
										<label>Ap. Materno</label>
										<input type="text" class="form-control" th:field="*{people.secondLastName}"
											disabled>

										<label >Cargo</label>
										<input type="text" class="form-control" placeholder="Soporte de Porcesos"
											disabled>
									</div>
									<!-- Columna 4 -->
									<div class="col-md-4 mb-3">
										<label >Usuario</label>
										<input type="text" class="form-control" th:field="*{people.user.userName}"
											disabled>

										<label >Contraseña</label>
										<input type="text" class="form-control" th:field="*{people.user.userPassword}"
											disabled>
									</div>

								</div>
								<div class="row mt-3">
									<div class="col-md-12 text-center">
										<a th:href="@{/peoples/listPeople}" class="btn btn-outline-success">
											<ion-icon name="arrow-undo-outline"></ion-icon>Regresar</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
</body>

</html>