<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="main/layout :: head"></head>

<body>
	
		<nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-danger">
			<div class="container">
				<a href="#" class="navbar-brand fs-3 " style="color: #198754;"><b><sup>Ⓡ</sup>CONTACTEMP</b></a>
				<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menunav">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div id="menunav" class="collapse navbar-collapse">
					<ul class="navbar-nav ms-3">
						<li class="nav-item">
							<a class="nav-link " th:href="@{/}" />Inicio</a>

						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Usuario
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/peoples/listPeople}">Lista de Clientes</a></li>
								<li><a class="dropdown-item" th:href="@{/user/userReg}">Crear usuario</a></li>
								<li><a class="dropdown-item" th:href="@{/peoples/formPeople}">Nuevo</a></li>
							</ul>
							
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Rol
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" th:href="@{/rol/listRol}">Roles</a></li>
								<li><a class="dropdown-item" th:href="@{/rol/formRol}">Nuevo</a></li>
							</ul>
							
						</li>
					</ul>
				</div>
			</div>
		</nav>

	<div class="container-fluid" id="pantll">
		<br>
		<div class="container" align="center">
			<div class="card" style="width: 30rem;">
				<img th:src="@{'/images/error.png'}" class="card-img-top" alt="">
				<div class="card-body">
					<h1 align="center" class="text-info">Error 404</h1>
					<div th:text="'Ruta ' + ${error}"></div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="main/layout :: footer"></footer>
	</body>
</html>