html,
body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

#pantll {
	height:90%;
	max-height:95%;
	display: flex;
	flex-direction: column;
}

main {
  flex-grow: 1;
}

.hidden {
	display: none !important;
}

.labels {
	font-size: 11px
}

.icono {
	font-size: 50px;
	color: #333;
	text-align: center;
	margin-bottom: 20px;
}

#btnStyle :hover {
	color: #fff !important;
	border-color: rgb(0, 64, 64) !important;
}


#fondologin {
	background-image: url('/images/background.jpg');
	background-position: center;
	/* Center the image */
	background-repeat: no-repeat;
	/* Do not repeat the image */
	background-size: cover;
}


div.contenedor {
	width: 100%;
}

button.centrado {
	width: 110px;
	/* Para que no se rompa en dos líneas, y lo translade tal cual. */
	margin-left: 50%;
	transform: translateX(-50%);
}

.small-table {
	max-width: 30%;
	/* Ajusta el ancho según tus necesidades */
	font-size: 0.9rem;
	/* Reduce el tamaño de la fuente */
}


.form-control:focus {
	box-shadow: none;
	border-color: #BA68C8
}

.profile-button {
	background: rgb(99, 39, 120);
	box-shadow: none;
	border: none
}

.profile-button:hover {
	background: #682773
}

.profile-button:focus {
	background: #682773;
	box-shadow: none
}

.profile-button:active {
	background: #682773;
	box-shadow: none
}

.back:hover {
	color: #682773;
	cursor: pointer
}

.labels {
	font-size: 11px
}

.add-experience:hover {
	background: #BA68C8;
	color: #fff;
	cursor: pointer;
	border: solid 1px #BA68C8
}