<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{main/layout :: head}">
</head>

<body>
	<header th:replace="~{main/layout :: header}"></header>

	<div class="container mt-4" id="pantll">
		<!-- Administrativa -->
		<div id="administrativa" th:if="${eventName != null}">
			<div class="card">
				<div
					class="card-header d-flex align-items-center justify-content-between">
					<h5 class="mb-0 d-flex align-items-center">
						<i class="fas fa-tasks me-2" style="color: rgb(0, 0, 0);">
						</i> Evento en Progreso: 
						<strong class="ms-2" id="TipoEvento" th:text="${selectedTipoEvento}"></strong>
					</h5>
					<div class="d-flex align-items-center">
						<!-- Start desde el controlador -->
						<input type="hidden" id="startTime" th:value="${startTime}"> 
						<input type="hidden" id="eventId" th:value="${activityId}"> 
						<div id="timer" style="margin-right: 20px;">00:00:00</div>
						<span class="toggle-btn" data-bs-toggle="collapse"
							data-bs-target="#collapseForm" aria-expanded="false"
							aria-controls="collapseForm"
							style="cursor: pointer; margin-left: 10px; margin-right: 10px;">
							<i class="fas fa-chevron-down" style="color: cadetblue;"></i>
						</span>
					</div>
				</div>
				<div id="collapseForm" class="collapse">
					<div class="card-body">
						<form>
							<div class="form-group row">
								<label for="subtipoEvento" class="col-form-label col-sm-2">Subtipo
									de evento:</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="subtipoEvento" 	th:value="${eventName}" readonly>
								</div>
							</div>
							<div class="form-group" style="margin-bottom: 10px;">
								<label for="detalleEvento">Detalle:</label>
								<textarea class="form-control" id="detalleEvento" rows="3"></textarea>
							</div>
							<button type="button"
								class="btn bg-dark text-light fw-bold btn-finalizar">Finalizar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Fin administrativa -->

		<!--Eventos del dia-->
		<div class="card mt-4">
			<div class="card">
				<div class="card-body">
					<div class="header-row d-flex justify-content-between align-items-center">
						<h4 class="col-3">
							<i class="fas fa-stopwatch"></i> Minutos acumulados
						</h4> 
						<div class="col-3 d-flex align-items-center">
							<label for="fecha" class="small-label mb-0 me-2" style="font-size: 1.5rem;">Fecha:</label> 
							<input type="date" class="form-control" id="fecha" value="2023-07-21" style="width: 10rem;">
						</div>
						<!-- Tardanza -->
						<div class="text-center">
							<i class="fas fa-clock fa-lg"></i>
							<p class="mb-0">
								<span
									th:text="${tardinessMinutes != null ? tardinessMinutes : 0}">0</span>
							</p>
						</div>
						<!-- Coffee Break -->
						<div class="text-center">
							<i class="fas fa-coffee fa-lg"></i>
							<p class="mb-0">0</p>
						</div>
						<!-- Almuerzo -->
						<div class="text-center">
							<i class="fas fa-utensils fa-lg"></i>
							<p class="mb-0">0</p>
						</div>
						<!-- Tiempo de Reuniones -->
						<div class="text-center">
							<i class="fas fa-users fa-lg"></i>
							<p class="mb-0">0</p>
						</div>
						<!-- Problemas Tecnicos -->
						<div class="text-center">
							<i class="fas fa-tools fa-lg"></i>
							<p class="mb-0">0</p>
						</div>
						<!-- Baño -->
						<div class="text-center">
							<i class="fas fa-restroom fa-lg"></i>
							<p class="mb-0">0</p>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="container2 d-flex justify-content-around">
			<div class="item mt-4 col-md-4">
				<div class="card cardpersonalizada mt-4 col-md-20">
					<div class="card-header">
						<h5>
							<i class="fas fa-tasks"></i> Indicadores 21-07-2024
						</h5>
					</div>
					<div class="card-body">
						<div class="out">
							<div class="chart-container">
								<canvas id="measurementChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="item mt-4 col-md-4">
				<div class="card cardpersonalizada mt-4 col-md-20">
					<div class="card-header">
						<h5>
							<i class="fas fa-chart-pie"></i> Indicadores por Fecha
						</h5>
					</div>
					<div class="card-body"
						style="align-items: center; justify-content: center; text-align: center;">
						<div class="form-row">
							<div class="form-group d-flex justify-content-center">
								<label for="fechaInicio" class="small-label">Fecha de
									Inicio:</label> <input type="date" class="form-control small-input"
									id="fechaInicio" value="2023-07-01">
							</div>
							<div class="form-group d-flex justify-content-center">
								<label for="fechaFin" class="small-label">Fecha de Fin:</label>
								<input type="date" class="form-control small-input"
									id="fechaFin" value="2023-07-21">
							</div>
							<div class="out">
								<div class="chart-container">
									<canvas id="indicatorChart"></canvas>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

			<div class="item mt-4 col-md-4">
				<div class="card cardpersonalizada mt-4">
					<div class="card-header">
						<h5>
							<i class="fas fa-chart-line"></i> Progreso Mensual
						</h5>
					</div>
					<div class="card-body">
						<div class="chart-container" style="height: 300px;">
							<canvas id="monthlyProgressChart" style="font-size: 300px;"
								class="chart"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script th:src="@{/js/scriptsindex.js}"></script>
	<footer th:replace="~{main/layout :: footer}"></footer>
</body>

</html>