<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titlepage}"></title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
	<link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light border-4 border-bottom border-info">
		<div class="container">
			<a href="#" class="navbar-brand"><sup>Ⓡ</sup>Registrex</a>
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menunav">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	<div class="container mt-5" id="pantll">
		<div class="row justify-content-center">
			<div class="position-relative">
				<div class="col-md-4">
					<div class="card shadow p-3 mb-5 bg-body rounded">
						<div class="card-header bg-white text-primary text-center"><sup>Ⓡ</sup>Registrex</div>
						<div class="card-body">
							<form th:action="@{/usuarios/login}" method="post">	
										
								<div th:if="${error}" class="alert alert-danger" role="alert">
									Credenciales inválidas. Inténtalo de nuevo.
								</div>
								
								<div class="mb-3">
									<label for="username" class="form-label">Username:</label>
									<input type="text" id="username" name="username" class="form-control" required />
								</div>
								<div class="mb-3">
									<label for="password" class="form-label">Password:</label>
									<input type="password" id="password" name="password" class="form-control"
										required />
								</div>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:fragment="footer" class="container">
		<hr />
		<p><img th:src="@{/images/iconibero.png}" width="20" height="20" alt="Logo el informatico" />
			Derechos reservados copyright<sup>©</sup><a href="https://mpersonales.blogspot.com/"> EL Informatico Ibero</a>
		</p>
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
	</footer>
</body>
</html>