<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<link rel="icon" type="image/jpg" href="/images/favicon.png" />
<title th:text="${titlepage}"></title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/estilo.css}">
<!-- FontAwesome para el icono de ojito -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

 
<body id="fondologin">
	<div id="particles"></div>
	
		<div class="container mt-5" id="pantll">
			<div class="row justify-content-end align-items-center h-100 "> 
					<div class="login-card"  >
						<div class="card  p-3 mb-5 bg-body ">
							<div class="card-header bg-white text-center">
								<h3><sup>©</sup>CONTACTEMP</h3>
							</div>
							<div class="card-body">
								<form th:action="@{/login}" method="post" id="loginForm">
									<div class="input-group mb-3">   
											<div class="input-group-prepend "> 
												<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
											  </div>
											<input type="text" id="username" name="username" autocomplete="username" class="form-control" placeholder="Ingrese usuario" autofocus required  aria-label="Username" aria-describedby="basic-addon1" />
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
										  <span class="input-group-text" id="basic-addon1"> <i class="fas fa-key"></i></span>
										</div>
										<input type="password" id="password" name="password" autocomplete="current-password" class="form-control" placeholder="Ingrese password" required />
										<div class="input-group-prepend  "> 
											<span
												class="input-group-text password-eyes"><i
												class="fa-solid fa-eye password-toggle"
												onclick="togglePasswordVisibility('password', this)"></i> </span>
									  </div> 
									</div> 
	
									<div style="text-align: right;">
										<a href="#" class="" data-bs-toggle="modal" data-bs-target="#recoverPasswordModal">
											Recuperar Contraseña
										</a>
									</div>
	 
									<div class="mb-3">
										<!-- Para los mensajes -->
										<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
											<symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
												<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
											</symbol>
											<symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
												<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
											</symbol>
											<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
												<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
											</symbol>
										</svg>
										<div id="message" th:if="${error != null}" class="alert alert-danger d-flex align-items-center" role="alert">
											<i class="fas fa-exclamation-triangle"></i>
											<div th:text="${error}" style="margin-left: 6px"></div>
										</div>
	 
										<div id="message1" class="alert alert-success d-flex align-items-center" role="alert" th:if="${success != null}">
											<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
												<use xlink:href="#check-circle-fill" />
											</svg>
											<div th:text="${success}"></div>
										</div>
									</div>
	 
									<div id="alert-dialog" title="Alerta" style="display:none;">
										<p id="alert-message"></p>
									</div>
	 
									<div class="contenedor">
										<button type="submit" class="btn btn-primary centrado">Ingresar</button>
									</div>
								</form> 
							</div>
						</div>
					</div> 
			</div>
		</div>
		 <!-- Modal de Recuperación de Contraseña -->
		 <div class="modal fade" id="recoverPasswordModal" tabindex="-1" aria-labelledby="recoverPasswordModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="recoverPasswordModalLabel">Recuperar Contraseña</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<form th:action="@{/send-email}" method="post">
							<div class="mb-3">
								<label for="email" class="form-label">Correo Electrónico</label>
								<input type="email" class="form-control" id="mailTo" name="mailTo" placeholder="Ingrese su correo electrónico" autocomplete="email" required>
							</div>
							
							<div  id="message"></div>
							
							<button type="submit" class="btn btn-primary">Enviar contraseña temporal</button>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				</div>
			</div>
		</div>
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/particles-login-page.js"></script>

	<script>
		$(document).ready(function() {
			// Función para mostrar el modal con el mensaje de error
			function showModal() {
                var errorMessage = $('#message');
                if (errorMessage.is(':visible')) {
                    var messageText = errorMessage.text().trim();
                    $('#modalMessage').text(messageText);
                    $('#alertModal').modal('show');
                    setTimeout(function () { 
                        errorMessage.slideUp(100, function() {
                            errorMessage.addClass('hidden'); 
                        });
                    }, 5000);
                }
            }

			// Función para ocultar mensajes de éxito después de 5 segundos
			function showLogout() {
				var successMessage = $('#message1');
				if (successMessage.is(':visible')) {
					setTimeout(function() {
						successMessage.hide(3000, function() {
							successMessage.addClass('hidden');
						});
					}, 5000);
				}
			}

			showModal();
			showLogout();
		});
		
		function togglePasswordVisibility(passwordId, toggleIcon) {
		    const passwordInput = document.getElementById(passwordId);
		    if (passwordInput.type === 'password') {
		        passwordInput.type = 'text';
		        toggleIcon.classList.remove('fa-eye');
		        toggleIcon.classList.add('fa-eye-slash');
		    } else {
		        passwordInput.type = 'password';
		        toggleIcon.classList.remove('fa-eye-slash');
		        toggleIcon.classList.add('fa-eye');
		    }
		}
	</script>
</body>
</html>